.DS_Store
*~
*.byte
*.native
*.cmi
*.cmo
*.bak
_build/
binaries/
CHANGES.txt
CHANGES.html
README.txt
README.html
doc/Using.txt
doc/Using.html
platform
config
config-stamp
*.dvi
*.pdf
!dist/windows/windows-install-guide.pdf
!doc/using.pdf
src/rfsm-light.ini
*.aux
*.log
*.rel
*.cf
.qmake.stash
Info.plist
TAGS
/etc/doc/
examples/*/*.fsm
examples/*/*.c
examples/*/*.h
examples/*/*.cpp
examples/*/*.vhd
examples/*/rfsm.output
examples/*/dot/
examples/*/sim/
examples/*/ctask/
examples/*/systemc/
examples/*/vhdl/
!examples/*.{gtkw,sav}
!examples/*/sim/*.{gtkw,sav}
*.dot
*.gif
*.o
*.vcd
src/debug/
src/release/
src/Makefile.*
src/moc_*.*
src/qrc_resources.*
src/rfsm-light.app/
src/gui/options_spec.txt
src/RfsmLight_resource.rc
src/BROWSE
doc/figs/*.pdf
doc/etc/
videos/
extra-docs/
