.DS_Store
*~
*.byte
*.native
*.cmi
*.cmo
_build/
CHANGELOG.txt
CHANGELOG.html
README.txt
README.html
HOWTO
TODO
config
config-stamp
*.dvi
*.pdf
*.aux
*.log
*.rel
*.cf
.qmake.stash
Info.plist
TAGS
/etc/doc/
examples/*/rfsm.output
examples/*/dot/
examples/*/sim/
examples/*/ctask/
examples/*/systemc/
examples/*/vhdl/
!examples/*.{gtkw,sav}
!examples/*/sim/*.{gtkw,sav}
*.dot
*.gif
*.o
*.vcd
src/gui/moc_*.*
src/gui/qrc_resources.*
src/gui/rfsm-light.app/
src/gui/Makefile
src/compiler/rfsmc
src/compiler/rfsmc.opt
src/compiler/grammar-defns.sty
src/compiler/grammar.tex
src/compiler/options_spec.ml
src/gui/options_spec.txt
doc/um/figs/*.pdf
doc/etc/
